<!doctype html>
<html lang="en" class="no-js">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
  

<!--  <link rel="stylesheet" type="text/css" href="D:\downloads\scarfistry22\checkout-plus-master\checkout-plus-master\css\main.min.css">
  <link href='http://fonts.googleapis.com/css?family=Work+Sans:400,600,700' rel='stylesheet' type='text/css'> -->
  <link rel="stylesheet" type="text/css" href="/file.css">
  <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/elements.css">
<link rel="stylesheet" href="/cart_ejs_folder/css/reset.css"> 
<script src="https://kit.fontawesome.com/05853edf68.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="/contact.css">
<!-- <link rel="stylesheet" href="/cart_ejs_folder/css/style.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
<!-- CSS reset -->
  <!-- <link rel="stylesheet" href="/cart_ejs_folder/css/style.css">  -->
  <!-- Resource style -->
  <script src="/cart_ejs_folder/js/modernizr.js"></script> <!-- Modernizr -->

  <link rel="stylesheet" type="text/css" href="/cart_ejs_folder/add_cart.css">
   <style type="text/css">
   html {
  font-size: 62.5%;
  background-color: white;
}
header {
  height: 80px;
  position: relative;
  padding-top: 40px;
}
   h1{
font-size: 40px;
text-align: center; 
background-color:    RGB(125,204,173);
}
body {
  font-size: 1.6rem;
  font-family: "Work Sans", sans-serif;
  color: #314d5d;
  background-color: white;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
#navbar {
  z-index: 9;
}
.sticky + .content {
  padding-top: 60px;
}

p{
  font-style: italic;
  font-size: 2rem;
  color: white;
}


/* ///// inputs /////*/

input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
  .order{
    margin-left: 20%;

  }
  .carousel-wrapper{
    width: 80%;
  }
    .styled-input {
        width:100%;
    }
    #cus{
      width:79%;
      /*margin-left: 0%;*/
      /*margin-right: 8%;*/
      margin-right: 18%;
    }
}

.styled-input label {
    color: #999;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1.5rem;
    background-color:#f5f0e1;
    /*:#fcfcf5;*/
    /*color: white;*/
    border-radius: 4px;
}

input:focus,
textarea:focus { outline: 30}

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}
#button{
  margin-right: 28%;
}
.submit-btn {
    float: right;
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: 
     RGB(125,204,173);
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
              0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    

    }
    .add-to-cart{

       width:100%;
        float: none;
        text-align:center;
    }
    #mobile{
  margin-right: 19%;
  margin-left: 2%;
}
#button{
  margin-left: 2%;
  margin-right: 1%;
}
}

input[type=checkbox] + label {
  color: #ccc;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
.success {
  color: lightseagreen;
  margin-left: 8%;
  margin-bottom: 1em;
}
</style>
  <link rel="shortcut icon" href="/cart_ejs_folder/logo1.png" type="image/x-icon" />
  <!-- <link rel="stylesheet" href="font-awesome.min.css"> -->
    <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"> -->
  <!--  <link rel="stylesheet" href="yy/bootstrap.min.css"/> -->
  
  


      <!-- <link rel="stylesheet" href="dist/font-awesome/css/font-awesome.min.css" /> -->
    
    <!-- Custom CSS -->
   
    <!-- <link rel="shortcut icon" href="cart_ejs_folder/logo1.png" type="image/x-icon" /> -->



  <title>Customize</title>
</head>

<body onload="myFunction2();">
  <!-- rgba(0, 0, 0, 0.08) -->
  <!-- #ede2e1 -->
  <!-- #e3d9d8 -->






<div id="abc">
<!-- Popup Div Starts Here -->
<div id="popupContact" >
<!-- Contact Us Form -->
<form action="/custom" id="form" method="post" name="form" class="form" >
<img id="close" src="/close.png" style="width:7%; height: 7%; margin-right: 5%; margin-top: 4%;" onclick ="div_hide()">
<h2 >Custom order</h2>
<hr class="hr">
<input id="name" name="name" placeholder="Name" type="text" class="input" required>
<input id="email" name="phone" placeholder="Phone" type="text" class="input"  required>
<textarea id="msg" name="order" placeholder="Please state your order in details." class="input"  required ></textarea>

<!-- <input type="file" style="margin-bottom: 4%; margin-top: 4%; width: 80%;" name="upload"> -->
        <div style="margin-left: 8%;">
<button  id="submit" style="background-color:  RGB(125,204,173); " name="submit" >Order</button>
 </div>
</form>
</div>
<!-- Popup Div Ends Here -->
</div>
<!-- Display Popup Button -->


<script type="text/javascript">
  


// Validating Empty Field
function check_empty() {
if (document.getElementById('name').value == "" || document.getElementById('email').value == "" || document.getElementById('msg').value == "") {
alert("Please fill in all fileds");
} else {
document.getElementById('form').submit();
alert("Order submitted successfully, you will be contacted soon");
}
}
//Function To Display Popup
function div_show() {
document.getElementById('abc').style.display = "block";
}
//Function to Hide Popup
function div_hide(){
document.getElementById('abc').style.display = "none";
}



</script>









   <div class="topnav" style=" padding-top:5px; margin-top:-5px; background-color:  #1e4240 ; "id="navbar" >
  <img src="/cart_ejs_folder/media/sign2.png" width="20%" height="25%" style="padding-bottom: 20px; padding-left: 2.5%; padding-top: 10px; margin-right:20%; ">

  
 <div class="nav" id="myTopnav"style="float: right; padding-right: 5%;padding-top: 1%;" >
  
  <a href="/home" style="color: white">HOME</a>
  <div class="dropdown"> <button class="btn" href="#shop.html">SHOP</button> 
    
  <div  class="dropdown-content"  style=" background-color: #1e4240;">
    
    <a href="/paintings">PAINTINGS</a>
    <a href="/scarves">SCARVES</a>
    <a href="/tshirts">T-SHIRTS</a>
    <a href="/customise">CUSTOMIZE</a>
    </div>


</div>

<a href="/contact" style="color: white">CONTACT</a>
  
   <a href="#" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
 </div>
  
 
</div>

<!--  <nav class="navbar navbar-expand-md navbar-light bg-light border-bottom" id="navbar">
            <div class="container">
                <a class="navbar-brand" href="D:\downloads\scarfistry22\scarfistry\home.html" id="header-logo">
                    <img src="logo1.png" class="img-fluid" width="100"
                        alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto text-center"> -->


                       <!--  <li class="nav-item active">
                            <a class="nav-link text-dark" href="#">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li> -->


                       <!--  <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\scarfistry\gallery.html">Gallery</a>
                        </li> -->

                        <!-- <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\quick-add-to-cart-master\quick-add-to-cart-master\index.html">Shop</a>
                        </li> -->


<!-- 
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="D:\downloads\scarfistry22\quick-add-to-cart-master\quick-add-to-cart-master\index.html""><i class="fas fa-store"></i></a>
                        </li>
                        <li class="nav-item mr-md-3">
                            <a class="nav-link text-dark" href="#"><i class="fab fa-instagram"></i></a>
                        </li>
                         
                    </ul>
                
            </div> -->
           
              
                
           
        <!-- </nav> -->
    <!-- </div> -->
  <!-- <a href="https://www.yyprojects.online/espacedesign">   <img class="site-logo"  src="logo1.png" style="width:8%;height:50%;"></a>


    <div class="nav-switch">
      <i class="fas fa-bars"></i>
    </div>
    <nav class="main-menu">
      <ul>
        <li><a href="about.html">Shop</a></li>
        <li><a href="portfolio.html">Gallery/About</a></li>
        <li><a href="D:\downloads\scarfistry22\checkout-plus-master\checkout-plus-master\index.html"><h4 class="changecolor"></h4></ -->
          <!-- a></li> -->

          <!-- <li><a href="login/index.html"><h4 class="changecolor">Login</h4></a></li> -->
      <!-- </ul>
    </nav> -->
  <!-- </div> -->
  
  
  <br>
  <br>
  <br>
  <br>
  <br>

  <!-- <img src="/brand.jpg" style="margin-left: 43%" width="180px">
  <br> -->

<!--  <div class="container">
  <div class="carousel">
    <div class="item a"></div>
    <div class="item b"></div>
    <div class="item c"></div>
    <div class="item d"></div>
    <div class="item e"></div>
    <div class="item f"></div>
  </div>
</div>
<div class="next">></div>
<div class="prev"><</div>
<br>
<br>
<br>
<br>
 -->

 
  <h1 style="margin-top: 0.5%; font-family: 'EB Garamond', serif;" > Custom order</h1>


  <%if (messages.mssg){%>
   <div class="success" style="margin-top: 4%; margin-left: 30%; font-size: 2rem;">
       <%=messages.mssg%>
   </div>
   <%}%>
    
    <%if (messages.sent){%>
   <div class="success" style="margin-top: 4%; margin-left: 30%; font-size: 2rem;">
       <%=messages.sent%>
   </div>
   <%}%>

 

<br>
<br>
<br>
<div class="carousel-wrapper" class="caro">
  <span id="item-1"></span>
  <span id="item-2"></span>
  <span id="item-3"></span>
  <div class="carousel-item item-1">
    <!-- <h2>Item 1</h2> -->
    <p>let your place speak with your identity</p>
    <a class="arrow arrow-prev" href="#item-3"></a>
    <a class="arrow arrow-next" href="#item-2"></a>
  </div>
  
  <div class="carousel-item item-2">
    <!-- <h2>Item 2</h2> -->
    <p>Turn your items into a piece of art</p>
    <a class="arrow arrow-prev" href="#item-1"></a>
    <a class="arrow arrow-next" href="#item-3"></a>
  </div>
  
  <div class="carousel-item item-3">
    <!-- <h2>Item 3</h2> -->
    <p>Gift your loved ones with a customised piece of wearable art</p>
    <a class="arrow arrow-prev" href="#item-2"></a>
    <a class="arrow arrow-prev" href="#item-2"></a>
    <a class="arrow arrow-next" href="#item-1"></a>
  </div>

</div>
 <div class="col-xs-12" id="button"  style="background-color: white; margin-top: 2%;">
        <button class="btn-lrg submit-btn order" onclick="div_show()" style="width: 60%;">order</button>
      </div>





<script>
  
// When the user scrolls the page, execute myFunction 
window.onscroll = function() {myFunction2()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction2() {
  if (window.pageYOffset > sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}

  function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "nav") {
    x.className += " responsive";
  } else {
    x.className = "nav";
  }
}

</script>

<!-- <script type="text/javascript">
    window.onload = function () {
        var fileupload = document.getElementById("FileUpload1");
        var filePath = document.getElementById("spnFilePath");
        var button = document.getElementById("btnFileUpload");
        button.onclick = function () {
            fileupload.click();
        };
        fileupload.onchange = function () {
            var fileName = fileupload.value.split('\\')[fileupload.value.split('\\').length - 1];
            filePath.innerHTML =   "   "+fileName;
        };
    };
</script> -->
        </div> <!-- .cd-customization -->

        <!-- <button class="cd-customization-trigger">Customize</button> -->
      </div> <!-- .cd-single-item -->


  <!-- <textarea rows="10" cols="100" id="custom_order">
</textarea>
<br>
<button class="add-to-cart"><em>order</em>
<svg x="0px" y="0px" width="32px" height="32px" viewBox="0 0 32 32">
              <path stroke-dasharray="19.79 19.79" stroke-dashoffset="19.79" fill="none" stroke="#FFFFFF" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" d="M9,17l3.9,3.9c0.1,0.1,0.2,0.1,0.3,0L23,11"/>
            </svg> -->
<!--  </button> -->
</div>



<!-- <script src="yy/jquery-3.2.1.min.js"></script>
  <script src="yy/bootstrap.min.js"></script>
  <script src="yy/main.js"></script> -->
  <!-- <script src="js/localstorage.js"></script> -->
<script src="/cart_ejs_folder/js/jquery-2.1.4.js"></script>
<script src="/cart_ejs_folder/js/main.js"></script> <!-- Resource jQuery -->
</body>
</html>