<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<head>
	<title>Home</title>
	<link rel="shortcut icon" href="media/logo.png" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="new_home.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href='https://fonts.googleapis.com/css?family=Dancing Script' rel='stylesheet'>
</head>

<body>
<div class="topnav" style=" padding-top:5px; margin-top:-10px; background-color: rgba(0, 0, 0, 0.27);">
  <img src="media/sign2.png" width="20%" height="20%" style="padding-bottom: 20px; padding-left: 2.5%; padding-top: 10px; margin-right:20%; ">

  
 <div class="nav" id="myTopnav"style="float: right; padding-right: 5%;padding-top: 1%;" >
 	
 	<a href="/home">HOME</a>
 	<div class="dropdown"> <button class="btn" href="#shop.html">SHOP</button> 
 		
  <div class="dropdown-content">
    
    <a href="#">PAINTINGS</a>
    <a href="/scarves">SCARVES</a>
    <a href="/tshirts">T-SHIRTS</a>
  </div>

</div>

<a href="contact.html">CONTACT</a>
  
   <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
 </div>
 	
 
</div>

<div class="sora" >
	<img src="/artist.png" height="10%"
	width="100%" style="padding-left: 2.5%; padding-top: 5%;">

</div>

<div class="bio" >
	Mai El Naga is a self-taught fine artist born and raised in Cairo. As a child, Mai always found passion in sketching and at 12 years, she picked up a brush and began painting. Though she is currently studying Medicine, Mai continues to proceed in her art journey.  Her art focuses on incorporating figures with a variety of elements through the use of mixed media. She uses a vibrant color palette and  a myriad of textures. The people in her paintings are faces she has captured throughout her travels. Mai is a also a muralist, illustrator and a scarf designer. 

</div>
<script type="text/javascript">
	
	function myFunction() {
  var x = document.getElementById("myTopnav");
  if (x.className === "nav") {
    x.className += " responsive";
  } else {
    x.className = "nav";
  }
}
</script>
</body>
</html>