 html {
  
  background-image: url("media/background3.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}


.topnav{
  
  overflow: hidden;
  /*padding-top:-20px; */
  /*margin-top:-10px*/
  /*margin-left:-10px;*/
  /*margin-right: -10px;*/
}
/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
.topnav button:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  /*background-color: #4CAF50;*/
  color: white;
}
.bio{
  background-color: rgba(157, 155, 155, 0.47);
  margin-left: 30%; 
  margin-top: -23%; 
  margin-right: 10%; 
  width: 40%; 
  font-size: 1.25em; 
  padding: 2.5%; color: white; 
}
.sora{
  width: 20%; margin-left: 2%; margin-top:3%;
}
.nav .icon {
  display: none;
}
@media screen and (max-width: 1200px) {
  .bio{

    font-size: 0.75em;
    width:70%;
    margin-left: 12.5%;
    margin-top: 2.5%;
    /*position: relative;*/
    /*display: none;*/
    /* The width is 100%, when the viewport is 800px or smaller */
  }
  
  .sora{
    
    width:50%;
    margin-left: 22%;
  }
   .nav a {
    display: none;
   }
   .nav button{
    display:none;
   }
  .nav a.icon {
    float: right;
    display: block;
  }
  .nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }



nav.responsive {position: relative;}
  .nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .nav.responsive .dropdown {float: none;}
  .nav.responsive .dropdown-content {position: relative;}
  .nav.responsive .dropdown .btn {
    display: block;
    width: 100%;
    text-align: left;
  }

}

.dropdown {
  float: left;
  overflow: hidden;
  /*position: relative;*/
  /*display: inline-block;*/
}
.dropdown-content {
   display: none;
  position: absolute;
   /*min-width: 160px;*/
  z-index: 1;

}
.dropdown-content a {
 /* color: black;
  padding: 12px 16px;
  text-decoration: none;*/
  /*padding: 12px 16px;*/
  float: none;
 text-align: left;
  display: block;
  
}
.dropdown .btn {
  font-size: 17px;    
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown:hover .dropdown-content  {
  display: block;
}